// variables
$background-color: hsl(200, 6%, 9%) !global;
$color-blue: hsl(210, 61%, 86%) !global;
$color-grey: hsl(39, 100%, 94%) !global;
$color-border-grey: hsl(207, 52%, 35%) !global;
$color-grey-light: hsl(213, 30%, 59%) !global;
$color-grey-lighter: hsl(0, 0%, 0%) !global;
$color-orange: hsl(36, 25%, 15%) !global;
$color-orange-dark: hsl(35, 75%, 15%) !global;
$color-orange-darker: hsl(33, 100%, 25%) !global;
$color-red-light: hsla(0, 46%, 48%, 0.979) !global;
$color-green-light: hsla(140, 55%, 36%, 0.87) !global;

.container {
  max-width: 700px;
  min-width: 270px;
  margin: 0 auto;
  padding: 0 10;

  .innercontainer {
    display: flex;
    gap: 1rem;
    // flex-wrap: wrap;
    align-items: stretch;
    padding: 0 20px;
    color: $color-grey;
  }
}

.game {
  width: 70%;
  .game__board {
    font-size: 26px;
    margin: 30px 0;
    border: 2px solid $color-border-grey;
    border-collapse: collapse;

    .game__row {
      &:nth-child(3n) {
        border-bottom: 2px solid $color-border-grey;
      }
    }
  }
}

.game__cell {
  border: 1px solid $color-grey-lighter;
  padding: 12px 16px;
  // color: $background-color;
  cursor: pointer;

  &:nth-child(3n) {
    border-right: 2px solid $color-border-grey;
  }
}

.won__container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  font-size: 2rem;
}

.game__cell.game_cell--filled {
  color: $color-grey;
}

.game__cell.game__cell--userfilled {
  color: $color-grey;
}

.game__cell.game__cell--selected {
  color: $color-orange;
  background-color: $color-orange;
}

.game__cell.game__cell--filled.game__cell--selected {
  color: $color-grey;
  background-color: $color-orange;
}

.game__cell.game__cell--userfilled.game__cell--selected {
  color: $color-grey-light;
  background-color: $color-orange;
}

.game__cell.game__cell--highlightselected {
  color: $color-orange-darker;
  background-color: $color-orange-darker;
}

.game__cell.game__cell--filled.game__cell--highlightselected {
  color: $color-grey;
  background-color: $color-orange-darker;
}

.game__cell.game__cell--userfilled.game__cell--highlightselected {
  color: $color-grey-light;
  background-color: $color-orange-darker;
}

.box-highlight {
  background: $color-orange-dark !important;
}

.correct--number {
  color: $color-grey !important;
  background-color: $color-green-light !important;
}

.wrong--number {
  color: $color-grey !important;
  background-color: $color-red-light !important;
}
