// variables
$background-color: #fff !global;
$color-blue: hsl(210, 88%, 56%) !global;
$color-grey: hsl(213, 30%, 29%) !global;
$color-grey-light: hsl(213, 30%, 59%) !global;
$color-grey-lighter: hsl(213, 30%, 79%) !global;
$color-orange: hsl(34, 26%, 89%) !global;
$color-orange-dark: hsl(34, 76%, 89%) !global;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  line-height: 1.4em;
  // font-weight: 300;
}
